{% extends 'layout.html' %}
{% block title %} Admin Account {% endblock %}
{% block main %} 
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2 class="mt-2">Admin Account</h2>
    <div class="container-fluid">
    <form action='/edit-admin-account'>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{data.username}}" disabled>
        </div>
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Password</label>
          <input type="text" name="password" class="form-control" id="exampleInputName1" value="{{data.password}}" disabled>
        </div>
        <button type="submit" class="btn btn-outline-secondary my-4">Edit Account</button>
      </form>
    </div>
</main>





{% endblock %}