{% extends 'layout.html' %}
{% block title %} Add a new subscription {% endblock %}
{% block head %} 
<style>
  [type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
/* body {
  padding: 4em;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
} */
.date_label {
  display: block;
  margin-top: 4px;
  margin-bottom: 5px;
  
}
.dateee {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
</style>
{% endblock %}
{% block main %} 
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 groot-white">
    {% if data[0] == 'Family' %}
    <h2 class="mt-2">Add a new {{data[0]}} Subscription</h2>
    {% else %}
    <h2 class="mt-2">Add a new {{data[0]}} &pound; Subscription</h2>
    {% endif %}
    <div class="container-fluid">
    <form action="/add-subscription/{{data[1]}}" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="exampleInputName1">
        </div>
        <div class="mb-3">
          <label for="exampleInputetsy1" class="form-label">Etsy ID</label>
          <input type="text" name="etsy_id" class="form-control" id="exampleInputetsy1">
        </div>
        <div class="mb-3">
          <label for="exampleInputperiod1" class="form-label">Period</label>
          <input type="number" name="period" class="form-control" id="exampleInputperiod1">
        </div>
        <div class="mb-3">
          <label for="exampleInputsoldprice1" class="form-label">Sold Price</label>
          <input type="number" name="sold_price" class="form-control" id="exampleInputsoldprice1" step="any">
        </div>
        <div class="mb-3">
          <label for="exampleInputnewprice1" class="form-label">New Price</label>
          <input type="number" name="new_price" class="form-control" id="exampleInputnewprice1" step="any">
        </div>
        <div>
          <label class="date_label" for="startdate">Start Date</label>
          <input class="dateee" type="date" name="start_date" id="startdate">
        </div>
        <div>
          <label class="date_label" for="enddate">End Date</label>
          <input class="dateee" type="date" name="end_date" id="enddate">
        </div>
        <div>
          <label class="date_label" for="renewal_date">Renewal Date</label>
          <input class="dateee" type="date" name="renewal_date" id="renewal_date">
        </div>
        <div>
          <label class="date_label" for="payment_due">Payment Due</label>
          <input class="dateee" type="date" name="payment_due" id="payment_due">
        </div>
        <button type="submit"  style="color: white; font-weight: bolder;" class="btn btn-outline-success my-4">Add Subscription</button>
      </form>
    </div>
</main>





{% endblock %}