{% extends 'layout.html' %}
{% block title %}All Subscriptions{% endblock %}
{% block main %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <h2 class="mt-2 groot-white">All Subscriptions</h2>
    <div class="table-responsive">
        <table style="font-size: 1em; font-family: 'Mukta', sans-serif;" id="example" class="display hover cell-border stripe compact nowrap" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Etsy ID</th>
                    <th scope="col">Period</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Renewal Date</th>
                    <th scope="col">Sold Price</th>
                    <th scope="col">New Price</th>
                    <th scope="col">Payment Due</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <a>
                    <td>{{data.email}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.etsy_id}}</td>
                    <td>{{data.period}}</td>
                    <td>{{data.start_date}}</td>
                    <td>{{data.end_date}}</td>
                    <td>{{data.renewal_date}}</td>
                    <td>{{data.sold_price}} &pound;</td>
                    <td>{{data.new_price}} &pound;</td>
                    <td>{{data.payment_due}}</td>
                    {% if data.category == 'Family' or 'Zam' %} 
                    <td>{{data.category}}</td>
                    {% else %} 
                    <td>{{data.category}} &pound;</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}