{% extends 'layout.html' %}
{% block title %} Edit Account {% endblock %}
{% block main %} 
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2 class="mt-2">Edit Account</h2>
    <div class="container-fluid">
    <form action="edit-admin-account" method=post>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{data.username}}">
        </div>
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Password</label>
          <input type="text" name="password" class="form-control" id="exampleInputName1" value="{{data.password}}">
        </div>
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Confirm Password</label>
          <input type="text" name="c_password" class="form-control" id="exampleInputName1" >
        </div>
        <button onclick="return conf_delete()" type="submit" class="btn btn-outline-success my-4">Update Account</button>
        {% if msg %} 
        <p style="color: red;">{{msg}}</p>
        {% endif %}
      </form>
    </div>
</main>





{% endblock %}